*{
    margin: 0;
    padding: 0;
}

.leaderboardMain{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* height: 100vh; */
    margin: 50px 0;
    /* margin-top: 100px; */
}

.sparkle {
    width: 200px;
    position: absolute;
    left: 362px;
    right: 0;
    top: -120px;
    transform: rotate(45deg);
}
.sparkle2 {
    position: absolute;
    left: -249px;
    right: 0;
    transform: rotate(45deg);
    bottom: -125px;
}

.bglb{
    width: 100%;
    height: 100vh;
    position: absolute;
}

.leaderBoard{
    border: 3px solid #ff3600;
    border-radius: 20px;
    width: 40%;
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.leaderBoard h1{
    border: 3px solid #ff3600;
    /* box-shadow: #ff3600 0px 5px 15px; */
    width: max-content;
    border-radius: 15px;
    padding: 8px 15px;
    background-image: linear-gradient(145deg, #ff3600, 70%, #ffc52b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  position: absolute;
  top: -30px;
  z-index: 1;
}

.leaderBoard h2{
    border: 3px solid #ff3600;
    /* box-shadow: #ff3600 0px 5px 15px; */
    width: 253px;
    height: 60px;
    border-radius: 15px;
    /* padding: 10px 20px; */
  position: absolute;
  top: -30px;
    background-color: #e6e6e6;
    /* z-index: -1; */
}

.lbContent{
    /* border: 1px solid black; */
    margin: 50px 40px;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.lbC1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.uname{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
    width: 50%;
    font-size: 1.2rem;
    padding: 5px 10px;
    border: none;
    background-image: linear-gradient(145deg, #ff3600, 70%, #ffc52b);
    color: white;
    border-radius: 5px;
}

.lbC1 img{
    width: 50px;
    display: flex;
    height: 50px;
    object-fit: contain;
}

.lbC1 img:nth-child(2)
{
    border-radius: 50%; 
    /* background-color: black;  */
}

.lbC1 img:nth-child(1){
    width: 60px;
}

.rank{
    width: 52px;
    font-size: 1.9rem;
    text-align: center;
    color:#ff3600;
    font-weight: bold;
}